<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/game.css" rel="stylesheet" />
    <title>100 XBOX360 games</title>
  </head>
  <body>
    <div class="navBar">
      <a href="/" id="title">100 XBOX360 GAMES</a>
      <a href="/category" id="categories">categories</a>
    </div>
    <div class="mainContainer">
      <div class="gameImgAndTitle">
        <div class="gameImgContainer">
          <img
            src="<%= game.img_src ? game.img_src : '/imgs/javier-martinez-hUD0PUczwJQ-unsplash.jpg' %>"
            alt="videogame thumbnail img"
            class="gameImg %>"
          />
        </div>
        <div class="GameTitleContainer"><%= game.name %></div>
      </div>
      <div class="gameInfo">
        <ul class="infoList">
          <li class="">Developers: <%= game.developers %></li>
          <li class="">Genres: <%= game.genres %></li>
          <li class="">Release Date: <%= game.release_date %></li>
          <li class="">Wikipedia link: <%= game.game_link %></li>
        </ul>
      </div>
    </div>
  </body>
</html>
